name: Scheduler via GH

on:
#  push:
#    branches:
#      - main
  workflow_dispatch:


jobs:
  echo-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: |
          echo "Hi, I am running this simple code to test the basic block of GitHub Actions."
          echo "RS ID: arjun.sahi@rackspace.com"
          echo "Workflow executed successfully"
          echo "Current time is $(date)"
